@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-color: #021327;
  --secondary-color: #04182f;
}



  .navTransition{
    transition: 0.2s ease-in-out;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }


  .blurBlueCircle{
    width: 90px;
    height: 90px;
    filter: blur(44px);
    background-color: #3c9fb7;
    border-radius: 50%;
  }
  .blurGreenCircle{
    width: 90px;
    height: 90px;
    filter: blur(44px);
    background-color: #45d56b;
    border-radius: 50%;
  }

  .btngradient{
      background: linear-gradient(270deg, #44DA64 0%, #6366FF 100%)
  }

  .bgHeroBottom{
    background: url('../../public/images/bg-hero-bottom.png');
    background-position: contain;
    background-repeat: no-repeat;
  }

  .text_gradient {
    background: linear-gradient(to right, #6366FF 0%, #53e79c 60%, #44DA64 100%);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .specializedTrackBg{
    background: url('../../public/images/specializedbg.png');
    background-position: cover;
    background-repeat: no-repeat;
  }